* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}

.baudy {
    background: #111;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.gallery .imggal {
    width: 100%;
    border-radius: 100% 0% 68% 32% / 5% 89% 11% 95%;
}