* {
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.baudy {
    min-height: 100vh;
    /*background: url(../img/bg-pagequestions.jpg) no-repeat;*/
    background-size: cover;
    background-position: center;
    background-color: #111;
}

.coulisses {
    color: turquoise;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img {
    border-radius: 10px;
}


#p-texte {
    color: beige;
    text-align: center;
    line-height: 1.1em;
    font-size: medium;
    font-size: 18px;
    font-family: 'inkyflutterby', sans-serif;
}

.p-texte {
    color: white;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: medium;
    font-size: 18px;
    font-family: 'inkyflutterby', sans-serif;
}

#h-texte {
    color: beige;
    background-color: #11111100;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'i Inspiring Angel', sans-serif;
}
.p {
    border: 1px solid beige;
    border-radius: 30%;
    width: 50%;
    margin: 0 auto;
}

.p-sup {
    margin: 0 auto;
    text-align: center;
    
}
 
#p-sup {
    background: #111;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 19px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background: #111;
    color: #fff;
    transition: ease-in-out 0.4s;
    transform: translateX(-3px);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    left: 200px; top 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.fouter {
    bottom: auto;
}






@media(max-width: 825px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header  .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}